/**
* This file is part of LimeSUrvey template SkeletonQuest
* Make your your change here
**/

/* Global decoration*/
body{background:#fff;color:#444;}
body{font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif}
body{font-size:14px}
h1,h2,h3,h4,h5,h6{color:#181818;font-family:Georgia, "Times New Roman", Helvetica, Arial, sans-serif;}
a, a:visited { color: #333; text-decoration: underline;}
a:hover, a:focus { color: #000; }
/* Max width of survey */
.wrapper,#content{max-width:960px;}
	@media only screen and (max-width: 959px) {}
	@media only screen and (min-width: 768px) and (max-width: 959px) {}
	@media only screen and (max-width: 767px) {}
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	@media only screen and (max-width: 479px) {}

/* Head decoration*/
#head{
  border-bottom:4px solid #EEE;
  border-top:0px solid #CCC;
  color:#000;
  background:#fff;
  }
/* Footer decoration */
#footer{
  border-top:2px solid #EEE;
  color:#666;
}
#footer a{}
#footer a:hover, #footer a:focus, #footer a:active {color: #444;}
/* Buttons */
.button,button,input[type="submit"],input[type="reset"],input[type="button"]
,.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
}
.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus
,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
}
.button:active,	button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active
,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
}
.disabled,.button.disabled,.button[disabled],button[disabled],input[type="submit"][disabled]{
}
/* Primary button */
/* Uncomment to change color and background color*/
/* All the primary button (move next and move prev) */
/*
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary,
.navigator button.button,.navigator button.button:hover,.navigator button.button:focus
 {  }
*/
/* Only move next and final submit */
/*
#movenextbtn,#movesubmitbtn
 {  }
*/
/* Jquery ui (color only) */
.ui-widget-content { border: 1px solid #ccc; background: #ffffff; color: #444; }
.ui-widget-content a { color: #444; }
.ui-widget-header { border: 1px solid #ccc; background: #eee; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #444; text-decoration: none; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #222; text-decoration: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #222; text-decoration: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #BCE8F1;; color: #3A87AD; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #3A87AD; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #EED3D7; background: #F2DEDE; color: #B94A48; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #B94A48; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #B94A48; }
.ui-icon { background-image: url(images/ui-icons_444_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_444_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_666_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_333_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_3A87AD_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_B94A48_256x240.png); }

/* Element decoration */
.note,#tokenmessage{
  border:#ddd 1px solid;background:#eee;
  -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
}
.grouptitle{
  background:#fff;
  color:#222
}
.groupdescription{
  background:#fff;
}
.progress-bar{border:1px solid #ccc;}
.progress-value{background:#ccc;}
.preprogress{background:#eee;color:#222;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.question-wrapper{
  background-color:#fff;
  border:1px solid #ccc;
  -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
  box-shadow: 0 0 8px rgba(190, 190, 190, 0.5);
}
.question-wrapper .question-text{
  background:#f6f6f6;
  padding:0.5em 5px;
  color:#181818;
  -webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;
}
.question-wrapper.boilerplate .question-text{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.question-wrapper.equation .question-text{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.question-wrapper.input-error{
  border-color:#944;
  -moz-box-shadow: 0 0 5px #944;
  -webkit-box-shadow: 0 0 5px #944;
  box-shadow:  0 0 5px #944;
  }
@media handled,screen and (max-width: 767px) {
  .question-wrapper{
    -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;
    border-width:1px 0;
  }
  .question-wrapper .question-text{
    -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;
  }
}
/*.question-wrapper .question-text a{color:#FEFEFE}*/
/*.question-wrapper .question-text a:hover{color:#5670A1}*/
/*.question-wrapper .question-text{font-weight:700;}*/
/*.question-wrapper .question-text strong,.question-wrapper .question-text b{font-weight:900;} */

/*.asterisk{width:20px;min-height:16px;}*/
/*.asterisk:after{content:url(images/ls-mandatory.png)}*/
/*.asterisk:after{display:inline-block;height:1em;min-height:16px;width:20px;margin-left:-8px;}*/

.question-wrapper.boilerplate {}
.question-wrapper.equation {}
