/**
* This file is part of LimeSUrvey template SkeletonQuest
* Make your your change here
**/

/* Global decoration*/
body{background:#fff;color:#444;}
body{font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif}
body{font-size:14px}
h1,h2,h3,h4,h5,h6{color:#181818;font-family:Georgia, "Times New Roman", Helvetica, Arial, sans-serif;}
a, a:visited { color: #333; text-decoration: underline;}
a:hover, a:focus { color: #000; }
/* Max width of survey */
.wrapper,#content{max-width:960px;}
	@media only screen and (max-width: 959px) {}
	@media only screen and (min-width: 768px) and (max-width: 959px) {}
	@media only screen and (max-width: 767px) {}
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	@media only screen and (max-width: 479px) {}

/* Head decoration*/
#head{
  border-bottom:4px solid #EEE;
  border-top:0px solid #CCC;
  color:#000;
  background:#fff;
  }
/* Footer decoration */
#footer{
  border-top:2px solid #EEE;
  color:#666;
}
#footer a{}
#footer a:hover, #footer a:focus, #footer a:active {color: #444;}
/* Primary button */
/* Uncomment to change color and background color*/
/* All the primary button (move next and move prev) */
/*
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary,
.navigator button.button,.navigator button.button:hover,.navigator button.button:focus
 { background-color:#428BC9;color:#FFF; }
*/
/* Only move next and final submit */
/*
#movenextbtn,#movesubmitbtn
 { background-color:#EEA236;color:#FFF; }
*/

/* Element decoration */
.note,#tokenmessage{
  border:#ddd 1px solid;background:#eee;
  -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
}
.grouptitle{
  background:#fff;
  color:#222
}
.groupdescription{
  background:#fff;
}
.progress-bar{border:1px solid #ccc;}
.progress-value{background:#ccc;}
.preprogress{background:#eee;color:#222;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.question-wrapper{
  background-color:#fff;
  border:1px solid #ccc;
  -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
  box-shadow: 0 0 8px rgba(190, 190, 190, 0.5);
}
.question-wrapper .question-text{
  background:#f6f6f6;
  padding:0.5em 5px;
  color:#181818;
  -webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;
}
.question-wrapper.boilerplate .question-text{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.question-wrapper.equation .question-text{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.question-wrapper.input-error{
  border-color:#944;
  -moz-box-shadow: 0 0 5px #944;
  -webkit-box-shadow: 0 0 5px #944;
  box-shadow:  0 0 5px #944;
  }
@media handled,screen and (max-width: 767px) {
  .question-wrapper{
    -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;
    border-width:1px 0;
  }
  .question-wrapper .question-text{
    -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;
  }
}
/*.question-wrapper .question-text a{color:#FEFEFE}*/
/*.question-wrapper .question-text a:hover{color:#5670A1}*/
/*.question-wrapper .question-text{font-weight:700;}*/
/*.question-wrapper .question-text strong,.question-wrapper .question-text b{font-weight:900;} */

/*.asterisk{width:20px;min-height:16px;}*/
/*.asterisk:after{content:url(images/ls-mandatory.png)}*/
/*.asterisk:after{display:inline-block;height:1em;min-height:16px;width:20px;margin-left:-8px;}*/

.question-wrapper.boilerplate {}
.question-wrapper.equation {}
